<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
          
</head>
<body>

<header>
    <h1>My Flask App</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('about') }}">About</a> |
        <a href="{{ url_for('form') }}">form</a> |
        <a href="{{ url_for('list_users') }}">list</a> |
    </nav>
    <hr>
</header>

<main>
    {% block content %}
    <!-- 各ページの中身が入る -->
    {% endblock %}
</main>

<hr>
<footer>
    <p>© 2026 My Flask App</p>
</footer>

</body>
</html>
