{% extends "base.html" %}
    {% block content %}
    <h2>ユーザー一覧</h2>

    <ul>
        {% for user in users %}
            <li>{{ user[0] }} : {{ user[1] }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for user in users %}
            <li>
                {{ user[1] }}
                &emsp;|
                <form
                    action="{{ url_for('delete', user_id=user[0]) }}"
                    method="post"
                    style="display:inline;"
                >
                    <button type="submit">削除</button>
                </form>
                |
                <form
                    action="{{ url_for('edit', user_id=user[0]) }}"
                    method="post"
                    style="display:inline;"
                >
                    <button type="submit">編集</button>
                </form>
            </li>
           

        {% endfor %}
    </ul>

{% endblock %}


